# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
view

# service platforms results
*.out
*.err

# Matrix file
*.mat

#cmake files
CMakeCache.txt
CMakeLists.txt
CMakeFiles/
Makefile
cmake_install.cmake


